pip==23.2.1
flask
langdetect
sqlalchemy
flask_mail
vonage
ibm_watson
psycopg2-binary
tensorflow
numpy
pandas
gunicorn
python-dotenv
fuzzywuzzy
scikit-learn
nltk
pickle-mixin
openpyxl
python-Levenshtein
tensorrt