pip==23.2.1
flask_mail
flask
langdetect
sqlalchemy
fuzzywuzzy
ibm_watson
vonage
psycopg2-binary
psycopg2
python-dotenv
pandas
tensorrt
tensorflow
gunicorn
python-Levenshtein
numpy==1.24.3
typing_extensions==4.4.0
openpyxl
nltk
scikit-learn
boto3